

body.dark-mode{
	color: #fff;
	background: #110725;
}
.dark-mode .user1 a {
	color: #000;
}
.dark-mode #fullscreen {
	background: #090315;
}
.dark-mode .border-top {
	border-top: 1px solid #332350!important;
}
.dark-mode .border-bottom {
	border-bottom: 1px solid #332350!important;
}
.dark-mode .border {
	border: 1px solid #332350!important;
}
.dark-mode .border-left {
    border-left: 1px solid #332350!important;
}
.dark-mode .border-right {
    border-right: 1px solid #332350!important;
}
.dark-mode .boxshadownone {
	box-shadow: none !important;
}
.dark-mode .country .img-fluid {
	border: 1px solid #f1f2f3;
}
.dark-mode .country {
	background: #090315;
	border: 1px solid #332350;
}
.dark-mode .country div {
	background: #211635;
	border-top: 1px solid #332350;
}
.dark-mode .chart-dropshadow {
	-webkit-filter:  drop-shadow(-6px 9px 4px rgba(0, 0, 0, .1));
	filter:  drop-shadow(-6px 9px 4px rgba(0, 0, 0, .1));
}
.dark-mode .GradientlineShadow {
	-webkit-filter: drop-shadow(0 -8px 4px rgba(0, 0, 0, .2));
	filter: drop-shadow(0 -8px 4px rgba(0, 0, 0, .2));
}
.dark-mode .BarChartShadow {
	-webkit-filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, .3));
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, .3));
}
.dark-mode .donutShadow {
	-webkit-filter: drop-shadow(-1px 0px 2px rgba(206, 209, 224));
	filter: drop-shadow(-1px 0px 2px rgba(206, 209, 224));
}
.dark-mode .list-unstyled-border li {
	border-bottom: 1px solid #332350;
}
.dark-mode .jumbotron {
	background: #110725;
}
.dark-mode hr {
	border-top: 1px solid #332350;
}
.dark-mode .carouseltransparent {
	background: rgba(0, 0, 0, 0.4);
}
.dark-mode .text-job {
	color: #7a7d7d ;
}
.dark-mode .text-time {
	color: #666;
}
.dark-mode .text-muted {
	color: #797286  !important;
}
.dark-mode .breadcrumb-item+.breadcrumb-item::before {
	color:#fff ;
}
.dark-mode .list-group-item {
	border: 1px solid #332350;
    color: #fff;
    background-color: #090315 !important;
}
.dark-mode .list-group-item:hover {
	background: #110725;
	color: #fff;
}
.dark-mode .dd-handle {
    color: #fff;
    border: 1px solid #332350;
}
.dark-mode .dd-handle:hover {
    color: #fff;
    background: #110725;
    border: 1px solid #332350;
}
.dark-mode .text-body {
    color: #fff !important;
}
.dark-mode .section .section-title {
	color: #7a7d7d ;
}
.dark-mode .main-sidebar {
	background-color: #090315;
	border-right: 1px solid #332350;
}
.dark-mode .header-horizonatlmenu .horizontalMenu{
	color: #fff;
}
.dark-mode .main-footer {
	background-color: #090315;
	border-top: 1px solid #332350;
	box-shadow:none;
}
.dark-mode .progress {
	background: #211635;
	box-shadow:0 4px 6px rgb(241, 246, 247,0.1), 0 1px 3px rgb(243, 243, 243,0.08);
}
.dark-mode .progress-bar {
	color: #fff;
}
.dark-mode .progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.dark-mode .socailicons  {
	color:#fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}
.dark-mode .table {
    color: #fff;
}
.dark-mode .twitter1 {
	background-color:#0db3f3!important;
}
.dark-mode .google-plus1 { 
	background-color:#de5140 !important;
}
.dark-mode .facebook-like1 {
	background-color:#3b5998 !important; 
}
.dark-mode .pinterest1 {
	background-color:#bd081c !important;
}
.dark-mode .swichermainleft.border-top{
	border-top:1px solid #e9f1f1!important;
}
.dark-mode .img-container {
	box-shadow: none;
    border: 1px solid #332350;
}
.dark-mode .input-group-text, .dark-mode select.form-control:not([size]):not([multiple]), .dark-mode .form-control:not(.form-control-sm):not(.form-control-lg) {
    background: #110725;
    border: 1px solid #332350;
}
.dark-mode .img-container .overlay {
	background: rgba(0, 0, 0, 0.6);
}
.dark-mode #spinner {
	background:#110725;
}
.dark-mode .direct-chat-text {
	color: #797286;
    background: #211635;
}
.dark-mode .direct-chat-text:after, .dark-mode .direct-chat-text:before {
	border-right-color: #110725 ;
}
.dark-mode .right .direct-chat-text:after, .dark-mode .right .direct-chat-text:before {
	border-left-color: #110725 ;
}
.dark-mode .direct-chat-timestamp {
	color: #9aa4a5;
}
.dark-mode .direct-chat-contacts {
	background: #323d4d;
	color: #fff;
}
.dark-mode .contacts-list>li {
	border-bottom: 1px solid #332350;
}
.dark-mode .contacts-list-date {
	color: #9fa0b9;
}
.dark-mode .contacts-list-msg {
	color: #9fa0b9;
}
.dark-mode .emp-profile {
	background: #090315;
}
.dark-mode .profile-img .file {
	background: #212529b8;
}
.dark-mode .profile-head h5 {
	color: #7a7d7d;
}
.dark-mode .profile-edit-btn {
	color: #7a7d7d;
	background: #110725;
}
.dark-mode .proile-rating {
	color: #888a8a;
}
.dark-mode .profile-work p {
	color: #888a8a;
}
.dark-mode .profile-work a {
	color: #7a7d7d;
}
.dark-mode .page-link {
	background-color: #090315;
	border: 1px solid #d7e7ff;
}
.dark-mode .page-link:hover {
	color: #295a9f;
	background-color: rgba(70, 127, 207, 0.06);
}
.dark-mode .page-item.active .page-link {
	color: #fff;
	background-color: #8645ff;
}
.dark-mode .page-item.disabled .page-link {
	color: #ced4da;
	background-color: #090315;
	border-color: #332350;
}
.dark-mode .page-item .page-link{
	color:#fff !important
}
.dark-mode .page-item.disabled .page-link, .dark-mode .page-link {
	border-color: #332350;
}
.dark-mode .files input {
	outline: 2px dashed #332350;
}
.dark-mode .files input:focus {
	outline: 2px dashed #332350;
	border: 1px solid #332350;
}
.dark-mode .files:after {
    background: #ececef;
    color: #9b9e9e;
}
.dark-mode .color input {
	background-color: #110725;
}
.dark-mode .files:before {
	color: #797286 ;
}
.dark-mode .email-app {
	background: #090315;
	box-shadow: none;
	border: 1px solid #332350;
}
.dark-mode .email-app .toolbar .btn{
	border: 1px solid #332350;
	color: #fff;
    background: #110725;
}
.dark-mode .email-app nav {
	border-right: 1px solid #332350;
}
.dark-mode .email-app nav .nav .nav-item .nav-link, .dark-mode .email-app nav .nav .nav-item .navbar .dropdown-toggle, .dark-mode .navbar .email-app nav .nav .nav-item .dropdown-toggle {
	color: #fff;
	border-bottom: 1px solid #332350;
}
.dark-mode .mail_list .list-group-item {
    border: 1px solid #332350;
    color: #7a7d7d;
}
.dark-mode .email-app .inbox .message {
	border-bottom: 1px solid #332350;
}
.dark-mode .email-app .inbox .message:hover {
	background: #eae8f1;
}
.dark-mode .btn-app {
    border: 1px solid #332350;
    background-color: #110725;
}
.dark-mode .bg-black {
    background-color: #2f2f2f !important;
}
.dark-mode .btn-light {
    color: #ffffff;
    background-color: #110725;
    border-color: #332350;
}
.dark-mode .dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #332350;
}
.dark-mode .email-app .inbox .message .actions .action {
	color: #c0cadd;
}
.dark-mode .mailsearch .btn {
	color: #fff;
}
.dark-mode .email-app .inbox .message .date {
	color: #7a7d7d ;
}
.dark-mode .email-app .inbox .message a {
	color: #3f405f;
}
.dark-mode .email-app .inbox .message .description {
	color: #7a7d7d ;
}
.dark-mode .email-app .message .toolbar {
	border-bottom: 1px solid #332350;
}
.dark-mode .email-app .message .details .header {
	border-top: 1px solid #332350;
	border-bottom: 1px solid #332350;
}
.dark-mode .email-app .message .details .header .from {
	color: #9faecb;
}
.dark-mode .email-app .message .details .attachments {
	border-top: 3px solid #e9f1f1;
	border-bottom: 3px solid #e9f1f1;
}
.dark-mode .email-app .message .details .attachments .attachment .menu a {
	color: #e9f1f1;
}
.dark-mode .user p.u-name {
	color:#fff;
}
.dark-mode .user p.u-designation {
	color: #7a7d7d;
}
.dark-mode .dropdown-menu {
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .15);
	box-shadow: 0 0 25px rgba(0, 0, 0, .15);
	color: #fff;
    background-color: #1d1033;
    border: 1px solid #332350;
}
.dark-mode .dropdown-item {
	color: #fff;
}
.dark-mode .dropdown-item:focus, .dark-mode .dropdown-item:hover {
	background:#110725;
}
.dark-mode .dropdown-divider {
	background-color: #e9f1f1;
}
.dark-mode .dropdown-list .dropdown-item:first-child {
	border-top: 1px solid #332350;
}
.dark-mode .dropdown-list .dropdown-item {
	border-bottom: 1px solid #332350;
}
.dark-mode .dropdown-item.has-icon:hover{
	color:#fff;
}
.dark-mode .dropdown-list .dropdown-item.dropdown-item-unread:active .dropdown-item-desc, .dark-mode .dropdown-list .dropdown-item.dropdown-item-unread:active .dropdown-item-desc b {
	color: #7a7d7d ;
}
.dark-mode .dropdown-list .dropdown-item:active .dropdown-item-desc, .dark-mode .dropdown-list .dropdown-item:active .dropdown-item-desc b {
	color: #7a7d7d ;
}
.dark-mode .dropdown-list .dropdown-item.dropdown-item-unread {
	background-color: #110725;
	border-bottom-color: #332350;
}
.dark-mode .text-dark {
    color: #fff !important;
}
.dark-mode .border-right {
    border-right: 1px solid #332350 !important;
}
.dark-mode .dropdown-list .dropdown-header {
	color:#fff;
	background: #090315;
}
.dark-mode .dropdown-item .dropdown-item .has-icon:hover {
	background-color: #110725;
}
.dark-mode .dropdown-list .dropdown-item.dropdown-item-header:hover {
	background-color: #110725;
}
.dark-mode .bg-cyan {
    background-color: #00dcdc !important;
    color: #fff !important;
}
.dark-mode .dropdown-list .dropdown-item:hover {
	background-color: #110725;
}
.dark-mode .dropdown-item :focus {
	background-color: #110725;
}
.dark-mode .dropdown-list .dropdown-item .dropdown-item-desc {
	color: #888a8a;
}
.dark-mode .dropdown-list .dropdown-item .dropdown-item-desc b {
	color: #fff;
}
.dark-mode .navbar .dropdown-menu-right:before {
    border-color: transparent transparent #1d1033 transparent;
}
.dark-mode .navbar {
	box-shadow:0 2px 17px 2px #110725;
}
.dark-mode .navbar .form-inline .form-control {
    border-color: #e9f1f1;
    background: #090315;
}
.dark-mode .navbar .nav-link {
	color: #fff;
}
.dark-mode .Search-icon i{
	color:rgba(255,255,255,0.5) !important;
}
.dark-mode .navbar .nav-link.beep:after {
	background-color: #ff473d;
}
.dark-mode .navbar .nav-link.nav-link-lg i {
    color: #fff;
}
.dark-mode .navbar .nav-link:hover {
	color: #fff;
}
.dark-mode .navbar .nav-link.disabled {
	color: #fff;
}
.dark-mode .nav-tabs .nav-item .nav-link.active {
	color: #fff;
}
.dark-mode .nav-tabs .nav-item.show .nav-link, .dark-mode .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #090315;
	border-color: #332350 #332350 #090315;
}
.dark-mode .nav-tabs .nav-link:focus, .dark-mode .nav-tabs .nav-link:hover{
	border-color: #332350 #332350 #090315;
}
.dark-mode .nav-tabs {
    border-bottom: 1px solid #332350  !important;
}
.dark-mode .tab-bordered .tab-pane {
	border: 1px solid #332350;
}
.dark-mode .nav-pills .nav-item .nav-link {
	color: #fff;
}
.dark-mode .nav-pills .nav-link.active, .dark-mode .nav-pills .show>.nav-link, .dark-mode .nav-pills .nav-item .nav-link.active {
	color: #fff;
	background: #f47b25;
}
.dark-mode .input-group-addon {
	color: #888a8a;
	background-color: #eee;
	border: 1px solid #332350;
}
.dark-mode .input-group .input-group-addon {
	border-color: #332350;
    background-color: #090315;
    color: #fff;
}
.dark-mode .form-control:disabled, .dark-mode .form-control[readonly] {
	background-color: #110725;
}
.dark-mode .form-control {
	border: 1px solid #dddcde;
	color: rgba(255,255,255,0.8);
}
.dark-mode .form-control::-webkit-input-placeholder {
	color: rgba(255,255,255,0.5);
}
.dark-mode .form-control::-moz-placeholder {
	color: #797286 ;
}
.form-control:-ms-input-placeholder {
	color: #797286 ;
}
.dark-mode .form-control::-moz-placeholder {
	color: #797286 ;
}
.dark-mode .input-group-text{
	border:1px solid #332350;
	color:#d8dede;
}
.dark-mode .alert {
	color: #fff;
}
.dark-mode .alert:not(.alert-light) a {
	color: #fff;
}
.dark-mode .alert.alert-secondary {
	background-color: #ea5d33;
}
.dark-mode .alert.alert-success {
	background-color: #22e840;
}
.dark-mode .alert.alert-info {
	background-color: #01b8ff;
}
.dark-mode .alert.alert-warning {
	background-color: #ffb209;
}
.dark-mode .alert.alert-danger {
	background-color: #ff473d;
}
.dark-mode .alert.alert-light {
	background-color: #f8f9fa;
	color: #343a40;
}
.dark-mode .alert.alert-dark {
	background-color: #343a40;
}
.dark-mode .card {
	background-color: #090315;
    border: 1px solid #332350;
	box-shadow:none;
}
.dark-mode .card.card-progress:after {
	background-color: rgba(255, 255, 255, .5);
}
.dark-mode .card.card-progress .card-progress-dismiss {
	color: #fff !important;
}
.dark-mode .card-options {
    color: #9aa0ac;
}
.dark-mode .card .card-header .card-subtitle{
	color:#797286 ;
}
.dark-mode .card-header {
	border-bottom:1px solid #332350;
}
.dark-mode .card .card-footer {
	border-top: 1px solid #332350;
	background: #090315 !important;
}
.dark-mode .card.card-sm .card-header {
	color: #7a7d7d ;
}
.dark-mode .card.card-sm .card-cta {
	border-top: 1px solid #332350;
}
.dark-mode .card.card-sm .card-options>a {
	color: #e9f1f1;
}
.dark-mode .card.card-sm:hover .card-options>a {
	color: #999;
}
.dark-mode .card.card-sm-2 .card-header h4 {
	color: #7a7d7d ;
}
.dark-mode .card.card-sm-2 .card-body, .dark-mode .card.card-sm-3 .card-body, .dark-mode .card.card-sm-4 .card-body, .dark-mode .card.card-sm-5 .card-body {
	color: #000;
}
.dark-mode .card.card-sm-2 .card-footer {
	color: #999;
}
.dark-mode .card.card-sm-3 .card-icon, .dark-mode .card.card-sm-4 .card-icon {
	color: #fff;
}
.dark-mode .card.card-sm-3 .card-header h4, .dark-mode .card.card-sm-4 .card-header h4 {
	color: #7a7d7d ;
}
.dark-mode .card.card-sm-5 .card-header h4 {
	color: #7a7d7d ;
}
.dark-mode .card.bg-primary, .dark-mode .card.bg-danger, .dark-mode .card.bg-success, .dark-mode .card.bg-info, .dark-mode .card.bg-dark, .dark-mode .card.bg-warning {
	color: #fff;
}
.dark-mode .card.bg-primary .card-header, .dark-mode .card.bg-danger .card-header, .dark-mode .card.bg-success .card-header, .dark-mode .card.bg-info .card-header, .dark-mode .card.bg-dark .card-header, .dark-mode .card.bg-warning .card-header {
	color: #fff;
}
.dark-mode .card .box {
	border: 1px solid #332350;
	box-shadow:none;
}
.dark-mode .card .card-body {
    padding: 1.5rem 1.4rem;
}
.dark-mode .card .box h2 span {
	color: #fff;
}
.dark-mode .card .box ul.icons li {
    border: 1px solid #332350;
}
.dark-mode .card .box ul.icons li:first-child{
	border-left: 1px solid #332350;
}
.dark-mode table.dataTable thead th {
	border-bottom: 0px solid #e9f1f1;
}
.dark-mode table.dataTable thead td{
	border-bottom: 1px solid #332350;
}
.dark-mode table.dataTable.no-footer {
	border-bottom: 1px solid #332350;
}
.dark-mode .table-bordered {
	border: 1px solid #332350;
}
.dark-mode div.dataTables_wrapper div.dataTables_processing {
	background-color: #090315;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}
.dark-mode .table-bordered td, .dark-mode .table-bordered th {
	border: 1px solid #332350;
}
.dark-mode .table-hover tbody tr:hover {
	background-color: #110725;
	color:#fff !important;
}
.dark-mode .table thead th {
	background: #090315;
}
.dark-mode .table-links {
	color: #7a7d7d ;
}
.dark-mode .table-links a {
	color: #666;
}
.dark-mode .table-striped tbody tr:nth-of-type(odd) {
	background-color:#110725;
}
.dark-mode div.dataTables_wrapper div.dataTables_filter input {
    background: #090315;
    border: 1px solid #332350;
}
.dark-mode .simple-footer {
	color: #888a8a;
}
.dark-mode .login-brand {
	color: #888a8a;
}
.dark-mode .summary .summary-info {
	background-color: #eaf2f4;
}
.dark-mode .fc-view, .dark-mode .fc-view>table, .dark-mode .fc-view, .dark-mode .fc-view>table tr, .dark-mode .fc-view, .dark-mode .fc-view>table td, .dark-mode .fc-view, .dark-mode .fc-view>table th {
	border-color: #332350;
}
.dark-mode .fc-view, .dark-mode .fc-view>table th {
	color: #fff !important;
}
.dark-mode .fc-view, .dark-mode .fc-view>table td {
	color: #fff;
}
.dark-mode .fc-unthemed td.fc-today {
	background-color: #e9f1f1;
}
.dark-mode .fc-day-grid-event .fc-content {
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .1);
	box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}
.dark-mode .fc-state-default {
    background-color: #8645ff;
    border: 1px solid #000;
}
.dark-mode .fc button.fc-state-active {
	color: #fff;
}
.dark-mode #calendar_weekdays div, #calendar_content div {
	background-color: #FFFFFF;
	color: #888a8a;
}
.dark-mode #calendar_content div:hover {
	background-color: #110725;
}
.dark-mode #calendar_content div.blank {
	background-color: #090315;
}
.dark-mode #calendar_content div.today {
	color: #FFFFFF;
}
.dark-mode #calendar_header {
	background-color: #fff !important;
	border-bottom: 1px solid #332350;
}
.dark-mode #calendar_header h1 {
	color: #7a7d7d;
}
.dark-mode #cldr i[class^=fa] {
	color: #7a7d7d;
}
.dark-mode .jqvmap-circle {
	border: 1px solid #000;
}
.dark-mode .weather .weather-desc .weather-text {
	color: #7a7d7d ;
}
.dark-mode .note-editor.note-frame {
	border: 1px solid #332350;
}
.dark-mode .modal-header {
	border-bottom:1px solid #332350;
}
.dark-mode .modal-footer {
	border-top:1px solid  #332350;
}
.dark-mode .modal-content {
	background: #211635;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}
.dark-mode .card-profile-widget .profile-widget-picture {
	-webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}
.dark-mode .card-profile-widget .profile-widget-items:after {
	background-color: #e9f1f1;
}
.dark-mode .card-profile-widget .profile-widget-items .profile-widget-item {
	border-right: 1px solid #332350;
}
.dark-mode .card-profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-label {
	color: #7a7d7d ;
}
.dark-mode .card-profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-value {
	color: #000;
}
.dark-mode .card-author-box .author-box-picture {
	-webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}
.dark-mode .card-author-box .author-box-job {
	color: #7a7d7d ;
}
.dark-mode .userprofile .userpic {
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.dark-mode .username {
	color: #000000;
}
.dark-mode .username p {
	color: #fff;
}
.dark-mode .settingbtn {
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.dark-mode .userprofile.small .userpic {
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.dark-mode .userprofile.social .username {
	color: #fff;
}
.dark-mode .userprofile.social .username+p {
	color: #888a8a;
}
.dark-mode .userprofile.small .username {
	color: #000000;
}
.dark-mode .userprofile.small .username p {
	color: #ffff;
}
.dark-mode .media-body {
	color: #fff;
}
.dark-mode .media-body h4 {
	color: #fff;
}
.dark-mode .media-body .nav-pills li a {
	color: #7a7d7d ;
}
.dark-mode .media-body .nav-pills li a:hover {
	color: #888a8a;
}
.dark-mode .commentsblock {
	background: #110725;
	border: 1px solid #332350!important;
}
.dark-mode .tags a {
	color: #fff;
	border: 1px solid #332350;
}
.dark-mode .tags li a:hover {
	color: #fff!important;
}
.dark-mode .member {
	background: #090315;
	border: 1px solid #332350;
}
.dark-mode .memmbername {
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}
.dark-mode .avatar-item .avatar-badge {
	background-color: #090315;
	color: #000;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .15);
	box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}
.dark-mode .card-chat .chat-content {
	background-color: #e9f1f1!important;
}
.dark-mode .card-chat .chat-content .chat-item.chat-right .chat-details .chat-text {
	color: #fff;
}
.dark-mode .card-chat .chat-content .chat-item .chat-details .chat-text {
	background-color: #090315;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}
.dark-mode .card-chat .chat-form .btn {
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.dark-mode .chocolat-overlay {
	background-color: #000;
}
.dark-mode .gallery .gallery-more:after {
	background-color: rgba(0, 0, 0, .5);
}
.dark-mode .gallery .gallery-more div {
	color: #fff;
}
.dark-mode .slider .owl-nav [class*=owl-] {
	background-color: #000;
	color: #fff;
}
.dark-mode .slider .slider-caption {
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
}
.dark-mode .list-group-item.active {
	color: #fff;
}
.dark-mode .badge {
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.dark-mode .media .media-title a {
	color:#fff;
}
.dark-mode .media .media-description {
	color: #7a7d7d ;
}
.dark-mode .media .media-links a {
	color: #999;
}
.dark-mode .media .media-progressbar .progress-text {
	color: #7a7d7d ;
}
.dark-mode .media .media-items .media-item .media-label {
	color: #7a7d7d ;
}
.dark-mode #toast-container>div {
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .15) !important;
	box-shadow: 0 0 25px rgba(0, 0, 0, .15) !important;
}
.dark-mode #toast-container>.toast:before {
	color: #fff;
}
.dark-mode #toast-container>.toast-info:before {
	color: #fff;
}
.dark-mode #toast-container>.toast-success:before {
	content: "\f121";
}
.dark-mode .toast.toast-error {
	background-color: #ac243a;
}
.dark-mode .toast.toast-warning {
	background-color: #f6d30c;
}
.dark-mode .toast.toast-success {
	background-color: #00d02f;
}
.dark-mode .toast.toast-info {
	background-color: #090315;
}
.dark-mode .toast.toast-info .toast-title, .dark-mode .toast.toast-info .toast-message {
	color: #fff;
}
.dark-mode .statistic-details .statistic-details-item .detail-name {
	color: #7a7d7d ;
}
.dark-mode .page-header .breadcrumb-item.active {
    color: #fff;
}
.dark-mode .page-header .breadcrumb-item+.breadcrumb-item::before {
	color:#fff;
}
.dark-mode .accordion .accordion-header {
	background-color: #110725;
}
.dark-mode .accordion .accordion-header:hover {
	background-color: #110725;
}
.dark-mode .accordion .accordion-header[aria-expanded="true"] {
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
	box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
	color: #fff;
}
.dark-mode .acc-1 .accordion-header,
.accordion-body {
	/*background: #090315;;*/
	/* background: #090315; */
}
.dark-mode .acc-1 .accordion-header {
	background: #110725;
	color:#fff;
}
.dark-mode .acc-1 .accordion-header:hover {
	color:#fff;
}
.dark-mode .acc-1 .accordion__item .accordion-header[aria-expanded="true"]{
	color:#fff;
}
.dark-mode .acc-1 .accordion-body {
	background: #090315;
	color: #fff;
}
.dark-mode .acc-1 .accordion-body__contents {
	border:1px solid #332350;
	background: #090315;
}
.dark-mode .acc-1 .accordion__item.active .accordion-header{
	color:#fff;
}
.dark-mode .popover {
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}
.dark-mode .popover .manual-arrow {
	color: #fff;
}
.dark-mode .bs-popover-auto[x-placement^=left] .arrow::before, .dark-mode .bs-popover-left .arrow::before {
	border-left-color: #e9f1f1;
}
.dark-mode .bs-popover-auto[x-placement^=bottom] .arrow::before, .dark-mode .bs-popover-bottom .arrow::before {
	border-bottom-color: #e9f1f1;
}
.dark-mode .bs-popover-auto[x-placement^=top] .arrow::before, .dark-mode .bs-popover-top .arrow::before {
	border-top-color: #e9f1f1;
}
.dark-mode .bs-popover-auto[x-placement^=right] .arrow::before, .dark-mode .bs-popover-right .arrow::before {
	border-right-color: #e9f1f1;
}
.dark-mode .icons-item li {
    border: 1px solid #332350;
}
.dark-mode .icons li {
    border: 1px solid #332350;
}
.dark-mode .flag-icons li {
    border: 1px solid #332350;
}
.dark-mode .transparent:before{
	background:rgb(93, 97, 191,0.7);
}
.dark-mode .icon-wrap .icon_unicode {
	color: #fff ;
}
.dark-mode .form-group label {
	color: #fff;
}
.dark-mode .custom-control-label::before {
	background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .prod-cat li a {
	color: #fff ;
}
.dark-mode .product-list img{
	border-bottom: 1px solid #332350;
}
.dark-mode .pro-img-box img:hover {
	background:rgba(0,0,0,0.4);	
}
.dark-mode .pro-img-box .social li a{
	color: #fff;
    background: #ea5d33;
	box-shadow:0 2px 17px 2px rgb(235, 240, 255,0.7);
}
.dark-mode .product_details .product_price .new_price {
    color:#fff;
}
.dark-mode .adtocart {
    color: #fff;
    border: 3px solid #090315;   
}
.dark-mode .adtocart i{
    color: #fff;
}
.dark-mode .pro-title {
    color: #7a7d7d;
}
.dark-mode .product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.dark-mode .custom-switch-indicator {
	background: #e9ecef;
	border: 1px solid #e3ebf3;
}
.dark-mode .custom-switch-indicator:before {
	background: #211044;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
.dark-mode .custom-switch-input:focus~.custom-switch-indicator {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}
.dark-mode .custom-switch-description {
	color: #6e7687;
}
.dark-mode .custom-switch-input:checked~.custom-switch-description {
	color: #495057;
}
.dark-mode .custom-file-label {
	color: #495057;
	background-color: #090315;
	border: 1px solid #332350;
}
.dark-mode .custom-file-label::after {
	color: #fff;
}
.dark-mode .pt-inner .pti-header {
    color: #fff;
}
.dark-mode .pt-inner .pti-header>h2 {
    color: #fff;
}
.dark-mode .pt-inner .pti-header>h2 small {
    color: #fff;
}
.dark-mode .btn-outline-primary {
    color: #a16dff;
    border-color: #a16dff;
}
.dark-mode .pt-inner .pti-header .ptih-title {
    background-color: rgba(0,0,0,.1);
}
.dark-mode.pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.dark-mode .plan-card .plan-icon {
    color: #ffffff;
    border: 12px solid #110725;
    background: #67a8e4;
    box-shadow: 0 0 3px #cccccc;
}
.dark-mode .pricing-table-7 .price-header .title {
  color: #6a6a75;
}
.dark-mode .pricing-table-7 .price-header .icon {
	color: #197beb;
}
.dark-mode .pricing-table-7 .price-header .price {
	color: #fff;
}
.dark-mode .pricing-table-7 .price-header .price .month {
	background-color: rgba(0,0,0,0.1);
}
.dark-mode .pricing-table-7 .price-body ul li {
	color: #8e9090;
}
.dark-mode .pricing-table-7 .price-footer .order-btn:hover {
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.35);
	background-color: #333;
	color: #fff; 
}
.dark-mode .single-page > .log-wrapper {
	color: #fff;
}
.dark-mode .single-page button.dark{
	border-color: #ff4931;
	background: #ff4931;
}
.dark-mode .single-page .move button.dark{
	border-color: #e0b722;
	background: #e0b722;
}
.dark-mode .single-page .wrapper.wrapper2 {
	background: #090315;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	color: #7a7d7d ;
}
.dark-mode .single-page .wrapper{
	background: #090315;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	color: #7a7d7d ;
}
.dark-mode .single-page .wrapper > form{
	background: #090315; 
}
.dark-mode .single-page .wrapper label{
	background: #090315;
	color: #7a7d7d ;
}
.dark-mode .single-page .wrapper input{
	border: solid 1px #e9f1f1;
}
.dark-mode .single-page .wrapper input{
	border: solid 1px #e9f1f1;
}
.dark-mode .single-page .wrapper input:focus{
	border-color: #e9f1f1;
}
.dark-mode .single-page > .wrapper.move input:focus{
	border-color: #e0b722;
}
@media (max-width: 480px){
	.dark-mode .nav-tabs .nav-item .nav-link.active{
		border:1px solid #332350;
	}
}
@media (max-width: 992px){
	.dark-mode .splits{
		background: #090315;
	}
	.dark-mode .splits button{
		background: #505050; 
	}
	.dark-mode .splits button.active{
		background: #ff4931;
	}
	.dark-mode .splits.rgstr-btn button.active{
		background: #e0b722;
	}
	.dark-mode .header .animated-arrow{
		padding: 80px 35px 16px 0px !important;
	}
}
.dark-mode input:-webkit-autofill, .dark-mode textarea:-webkit-autofill, .dark-mode select:-webkit-autofill{
  box-shadow: inset 0 0 0 50px #fff
}
.dark-mode .construction-bg:before{
	background: #090315;
}	
.dark-mode .bg-transaprent:before{
	background:rgb(0,0,0,0.75);
}
.dark-mode .tile_count {
	background: #090315;
}
@media (max-width: 575.98px) {
	.dark-mode .card-profile-widget .profile-widget-items .profile-widget-item {
		border-top: 1px solid #332350;
	}
	.dark-mode .responsive-navbar.navbar-dark .navbar-nav .nav-link:focus, .responsive-navbar.navbar-dark .navbar-nav .nav-link:hover {
		color: #fff;
	}
	.dark-mode .responsive-navbar .navbar-dark .navbar-nav .nav-link:hover {
		color: #fff;
	}
}
@media (max-width: 767px) {
	.dark-mode .navbar .form-inline .search-element .form-control {
		background: #6b37cc;
	}
}
@media (max-width: 1024px) {
	.dark-mode body.search-show:before, .dark-mode body.sidebar-show:before {
		background-color: #000;
	}
}
.dark-mode .mapael .zoomButton {
	background-color: #292929;
	border: 1px solid #292929;
	color: #fff;
}
.dark-mode .mapael .mapTooltip {
	background-color: #474c4b;
	color: #fff;
}
.dark-mode .rating-stars .rating-stars-container .rating-star {
	color: #ebedf5;
}
.dark-mode .rating-stars .rating-stars-container .rating-star.sm {
	color: #e9f1f1;
}
.dark-mode .rating-stars .rating-stars-container .rating-star.is--active,
.dark-mode .rating-stars .rating-stars-container .rating-star.is--hover {
	color: #f1c40f;
}
.dark-mode .rating-stars .rating-stars-container .rating-star.is--no-hover {
	color: #3e4b5b;
}
.dark-mode .rating-stars .rating-stars-container .rating-star.is--active .fa-heart ,
.dark-mode .rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
	color: #9f78ff;
}
.dark-mode .rating-stars .rating-stars-container .rating-star .fa-heart .is--no-hover {
	color: #3e4b5b;
}
.dark-mode .rating-stars input{
	color: #495057;
	background-color: #090315;
	background-clip: padding-box;
	border: 1px solid #e3ebf3;
}
.dark-mode .rate label {
	color: #211635;
}
.dark-mode .rate label:hover,
.dark-mode .rate label:hover ~ .rate label {
	color: #ffb209;
}
.dark-mode .rate input:checked ~ .rate label {
	color: #ccac00;
}
.dark-mode .rate input:checked ~ .rate label:hover,
.dark-mode .rate input:checked ~ .rate label:hover ~ .rate label {
	color: #ffb209;
}
.dark-mode .heart label {
	color: #211635;
}
.dark-mode .heart label:hover,
.dark-mode .heart label:hover ~ .heart label {
	color: #ff473d;
}
.dark-mode .heart input:checked ~ .heart label {
	color: #ccac00;
}
.dark-mode .rate input:checked ~ .rate label:hover,
.dark-mode .rate input:checked ~ .rate label:hover ~ .rate label {
	color: #ff473d;
}
.dark-mode .gallery-btns{
	background-color: rgb(118, 115, 230,0.3);
}
.dark-mode .colorinput-color {
	border: 1px solid rgba(167, 180, 201,.3);
	color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.dark-mode .colorinput-input:focus~.colorinput-color {
	border-color: #467fcf;
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.25);
}
.dark-mode .selectgroup-button {
	border: 1px solid rgba(167, 180, 201,.3);
	color: #a7b4c9;
}
.dark-mode .selectgroup-input:focus+.selectgroup-button {
	box-shadow: 0 0 0 2px rgba(5, 117, 230, 0.25);
}
.dark-mode .product-details {
	border: 1px solid #332350;
}
.dark-mode .pro_detail{
	border: 1px solid #332350;
}
.dark-mode .price-range #amount{
	color: rgba(255, 255, 255, 0.7) !important;
    background: #090315;
}
.dark-mode .page-title {
	color: #fff;
}
.dark-mode .draggable-placeholder {
  border: 1px dashed #8e909f;
  background-color: #ededf2;
}
.dark-mode #messages-main {
       box-shadow: none;
    border: 1px solid #332350;
}
.dark-mode #messages-main .ms-menu {
    border-right: 1px solid #332350;
    background: #090315;
}
.dark-mode #messages-main .ms-user {
    background: #090315;
    border: 1px solid #332350;
}
.dark-mode #messages-main #ms-compose {
    box-shadow: none;
}
.dark-mode .message-feed:not(.right) .mf-content {
    color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.dark-mode .message-feed.right .mf-content {
    background:#110725;
}
.dark-mode .mf-date {
    color: #8e9090;
}
.dark-mode .msb-reply {
    box-shadow:none;
    background: #090315;  
}
.dark-mode .four-zero, .dark-mode .lc-block {
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}
.dark-mode .msb-reply textarea {
	border: 1px solid #332350;
	color: #fff;
}
.dark-mode .msb-reply button {
    color: #fff;
}
.dark-mode .action-header {
    background: #090315;
    border-bottom: 1px solid #332350;
}
.dark-mode .actions:not(.a-alt)>li>a>i {
    color: #8e9090;
}
.dark-mode .ms-body{
    background: #090315; 
}
.dark-mode .grids .row>.col, .dark-mode .grids .row>[class^=col-] {
    background-color: #110725;
    border: 1px solid #332350;
}
.dark-mode .tree li::before {
    border-left:1px solid #d8dede;
}
.dark-mode .tree li::after {
    border-top:1px solid #d8dede;
}
.dark-mode .tree li.parent_li>span:hover, .dark-mode .tree li.parent_li>span:hover+ul li span {
    background:#110725;
    color:#000
}
.dark-mode .panel {
    background-color: #090315;
	border: 1px solid #332350;
    box-shadow:none;
}
.dark-mode .panel-heading {
    border-bottom: 1px solid #332350 ;
}
.dark-mode .panel-footer {
    border-top: 1px solid #332350 ;
}
.dark-mode .panel-default >.panel-heading{
    color: #fff;
    background-color: #110725;
    border-color: #332350 ;
}
.dark-mode .panel-default >.panel-footer{
    color: #fff;
    background-color: #110725;
    border-color: #332350 ;
}
.dark-mode .panel-primary >.panel-heading{
    color: #fff;
}
.dark-mode .panel-success >.panel-heading{
    color: #fff;
    background-color: #22e840;
    border-color: #22e840;
}
.dark-mode .panel-info >.panel-heading{
    color: #fff;
    background-color: #01b8ff;
    border-color: #01b8ff;
}
.dark-mode .panel-warning >.panel-heading{
    color: #fff;
    background-color: #ffb209;
    border-color: #ffb209;
}
.dark-mode .panel-danger >.panel-heading{
    color: #fff;
    background-color: #ff473d;
    border-color: #ff473d;
}
.dark-mode .showcase .horizontal-images.content h2{
	color: #fff;
	background-color: #eb3755;
}
.dark-mode .chat li{
    border: 1px solid #332350;
}
.dark-mode .chat li .chat-body p{
    color: #8e9090;
}
.dark-mode .chat-widget .panel-body{
	border-bottom: 1px solid #332350;
}
.dark-mode .chat-widget ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #090315;
}
.dark-mode .chat-widget ::-webkit-scrollbar{
    background-color: #F5F5F5;
}
.dark-mode .chat-widget ::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ebebf1;
}
.dark-mode .card .card-header h4{
	color:#fff;
}
.dark-mode .popup-box {
   background: #090315;
    border: 1px solid #332350;
    box-shadow: 0 2px 17px 2px rgb(208, 208, 210);
}
.dark-mode .round.hollow a {
    border: 2px solid #ff6701;
    color: red;
    color: #ff6701;
}
.dark-mode .round.hollow a:hover {
    border: 2px solid #000;
    color: red;
    color: #000;
}
.dark-mode .popup-box .popup-head {
    color: #fff;
}
.dark-mode .bg_none:hover i {
    border: 1px solid #332350;
}
.dark-mode .bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.dark-mode .popup-messages-footer > textarea {
    border: 1px solid #332350 !important;
}
.dark-mode .popup-messages-footer > textarea::placeholder{
	color:#bfbfc3;
}
.dark-mode .popup-messages-footer {
    background: #fff none repeat scroll 0 0;
}
.dark-mode .simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    color: #4b4b4b !important;
}
.dark-mode .popup-box .popup-messages {
    background: #fff none repeat scroll 0 0;
}
.dark-mode .popup-messages abbr.timestamp {
    color: #4c4e4e;
    background: #dbdbf5;
}
.dark-mode .chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
}
.dark-mode .popup-head-right .btn-group .dropdown-menu li a {
	color: #303030;
}
.dark-mode .popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    color: #1f2121;
}
.dark-mode .popup-messages .direct-chat-timestamp {
    color: #fff;
}
.dark-mode .popup-messages .direct-chat-name {
	color: #6e6e75;
}
.dark-mode .popup-messages  .direct-chat-img {
    border: 1px solid #332350;
	background: #3f9684  none repeat scroll 0 0;
}
.dark-mode .popup-messages .direct-chat-reply-name {
    color: #d8dede;
}
.dark-mode .popup-messages .direct-chat-img-reply-small{
    border: 1px solid #332350;
	background:#3f9684;
}
.dark-mode .popup-messages .direct-chat-text::after, .dark-mode .direct-chat-text::before {
   border-color: transparent #dfece7 transparent transparent;   
}
.dark-mode .popup-messages .direct-chat-text::after, .dark-mode .direct-chat-text::before {
    border-color: transparent #110725  transparent transparent;
    border-style: solid;
}
.dark-mode .popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    color: #1f2121;
}
.dark-mode .popup-messages .direct-chat-text {
    background: #110725   none repeat scroll 0 0;
    border: 1px solid #110725  ;
    color: #999a9a;
}
.dark-mode .popup-messages .right .direct-chat-text:after, .dark-mode .right .direct-chat-text:before{
    border-left-color: #110725;
}
.dark-mode .item {
    background: #090315;
    border: 1px solid #ddd;
}
.dark-mode .dragHover {
    border-color: blue;
    color: blue;
}
.dark-mode .placeholder {
    background: #090315;
    border: 1px dashed #ccc;
}
.dark-mode .placeholder-sub {
    background: #090315;
    border: 1px dashed #ccc;
}
.dark-mode .tag {
    color: #fff;
}
.dark-mode .label {
    color: #fff;
}
.dark-mode .footer-social-list a {
    color:#8e9090;
}
.dark-mode .top-footer {
    color: #fff;
}
.dark-mode .top-footer p {
    color:#8e9090;
}
.dark-mode .top-footer a {
    color: #8e9090;
}
.dark-mode .top-footer a {
    color: #8e9090;
}
.dark-mode .top-footer a address {
    color: #8e9090;
}
.dark-mode .top-footer img{
	border:1px solid #332350;
}
.dark-mode .top-footer img:hover{
	color: #8e9090;
}
.dark-mode .footer-payments a {
    color:#8e9090;
}
.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a{
	color:#5a5e5f;
}
.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a.active{
	color: #fff;
    background: rgb(126, 124, 238);
}
.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a:hover{
	color:#fff;
}
@media (max-width: 320px){
	.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a{
		color:#d8dede;
	}
}
@media (max-width: 480px){
	.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a{
		color:#fff;
	}
}
@media (min-width: 481px) and (max-width: 992px){
	.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a{
		color:#d8dede;
	}
	.dark-mode .header-horizonatlmenu .horizontalMenu>.horizontalMenu-list>li>a{
		color:#d8dede !important;
	}
}
.dark-mode .custom-switch-indicator {
	background:#110725;
	border: 1px solid #332350;
}
.dark-mode .custom-switch-description {
	color: #6e7687;
}
.dark-mode .custom-switch-input:checked~.custom-switch-description {
	color: #495057;
}
.dark-mode .material-switch > label::before {
    background:#110725;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.dark-mode .material-switch > label::after {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.dark-mode div[data-acc-step]:not(.open) {
	background: #110725;  
}
.dark-mode div[data-acc-step]:not(.open) h5 { 
	color:#fff;  
}
.dark-mode div[data-acc-step]:not(.open) .badge-primary { 
	background: #1a0d33;  
}
.dark-mode .wave.-two {
  background: yellow;
}
.dark-mode .pulse {
    background: #cca92c;
    box-shadow: 0 0 0 rgba(34, 232, 64, 0.9);
}
.dark-mode .profile-img {
    border: 1px solid rgb(226, 212, 214,.9);
    color: #474a56;
    background: rgba(225,225,225,.7);
}
.dark-mode .widget-1 i{
	color:#fff;
}
.dark-mode .stamp {
	color: #fff;
	background: #868e96;
}
.dark-mode .chart-circle-value small {
	color: #9aa0ac;
}
.dark-mode .text-facebook {
    color: #3b5998 !important;
}
.dark-mode .text-twitter {
    color: #01b8ff !important;
}
.dark-mode .text-googleplus {
    color: #db4a39 !important;
}
.dark-mode .text-pinterest {
	color:#e60023;
}
.dark-mode .user-button {
	color:#cccdd0;
}
.dark-mode .user-button i{
    background: rgba(208, 207, 234,0.5);
}
.dark-mode .user-notification a:hover{
	color:#a7a5ef !important;
}
.dark-mode .user-button a{
	color:#aeb0b5;
}
.dark-mode .app-sidebar__user .user-notification:before {
    background: rgba(0,0,0,0.1);
}
.dark-mode .Relatedpost .media img {
	border:1px solid #332350;
}
.dark-mode .notfound {
	background: #090315;
	color: #575c5d;
}
.dark-mode .notfound .notfound-404 h1 {
	color: #575c5d;
}
.dark-mode .notfound .notfound-404 h1>span {
	color: #00b7ff;
}
.dark-mode .notfound h1 {
	color:#444646
}
.dark-mode .notfound h2 {
	color:#444646;
}
.dark-mode .cbp_tmtimeline:before {
	background: #241446;
}
.dark-mode .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
	background: #090315;
}
.dark-mode .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #090315;
}
.dark-mode .cbp_tmtimeline>li .empty span {
	color: rgba(255,255,255,0.5);
}
.dark-mode .cbp_tmtimeline>li .cbp_tmlabel {
	background: #090315;
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}
.dark-mode .cbp_tmtimeline>li .cbp_tmlabel:after {
	border-right-color: #090315;
}
.dark-mode .cbp_tmtimeline>li .cbp_tmlabel .map-checkin {
	border: 5px solid rgba(235, 235, 235, 0.2);
	-moz-box-shadow: 0px 0px 0px 1px #ebebeb;
	-webkit-box-shadow: 0px 0px 0px 1px #ebebeb;
	box-shadow: 0px 0px 0px 1px #ebebeb;
	background: #3d3780 !important
}
.dark-mode .cbp_tmtimeline>li .cbp_tmicon {
	color: #fff;
	background: #46a4da;
	box-shadow:0 0 0 5px rgba(255,255,255,0.2);
}
@media screen and (max-width: 47.2em) {
	.dark-mode .cbp_tmtimeline>li .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #090315;
	}
	.dark-mode .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #090315
	}
}
.dark-mode #amount{
	color:#575c5d;
}
.dark-mode .btn>i{
	color: #fff;
}
.dark-mode #back-to-top {
	color: #fff;
}
.dark-mode #back-to-top:hover {
	background: linear-gradient(to bottom right,#090315, #090315) !important;
	
}
.dark-mode .guage tspan{
	fill:#575c5d !important;
 }
.dark-mode .form-control::-webkit-input-placeholder {
	color: #797286 ;
}
.dark-mode .upload-btn-wrapper1{
	outline: 2px dashed #332350;
    background-color: #090315;
}
.dark-mode .btn.btn-sm {
    border: 1px solid #332350;
}
.dark-mode #addClass {
    background: #ea5d33;
    color: #fff;
}
.dark-mode .text-light-color{
	color: #eaeaea;
}
.dark-mode .rightmenu h5{
    padding: 0px 10px 16px 20px;
    font-size: 1rem;
	border-bottom:1px solid  rgba(167, 180, 201,.2)
}
.dark-mode .latest-timeline ul.timeline:before {
    background: #332350;
}
.dark-mode .btn:active, .dark-mode .btn:focus, .dark-mode .btn:hover {
    border:1px solid rgba(9, 3, 21, 0.3) !important;
}
.dark-mode .latest-timeline ul.timeline > li:before {
    background: #090315;
    border: 3px solid #7E6EE6;
}
.dark-mode .latest-timeline ul.timeline > li:first-child:before {
	border: 3px solid #0dd157;
}
.dark-mode .latest-timeline ul.timeline > li:nth-child(2):before {
	border: 3px solid #3ec7e8;
}
.dark-mode .latest-timeline ul.timeline > li:nth-child(3):before {
	border: 3px solid #f35e90;
}
.dark-mode .latest-timeline ul.timeline > li:nth-child(4):before {
	border: 3px solid #fc7303;
}
.dark-mode .latest-timeline ul.timeline > li:last-child:before {
	border: 3px solid #ec2d38 ;
}
.dark-mode .responsive-navbar .navbar-collapse{
    background: #090315;
	box-shadow: 0 4px 26px 0 #110725;
}
.dark-mode .responsive-navbar .nav-link.icon{
	color:#151948 !important;
}
.dark-mode .responsive-navbar .navbar-nav .show>.nav-link{
	color:#151948 !important;
}
.dark-mode .responsive-navbar .nav-link.icon{
    border: 1px solid #efefff;
}
.dark-mode .responsive-navbar .navbar-nav .nav-link{
	color:#fff;
}
.dark-mode .pulse {
    background:#ffb209;
    box-shadow: 0 0 0 rgba(255, 178, 9, 0.9);
}
@media (max-width:992px){
	.dark-mode .top-header .navbar {
		box-shadow:0 2px 17px 2px #c2bad2;
	}
}

/*------------- horizontal menu -------------*/

.dark-mode .horizontal-main {
	background: #090315;
    border-top: 1px solid #332350;
}
.dark-mode .horizontalMenu {
	color: #fff;
}
.dark-mode .mega-menubg {
    border: 1px solid rgba(0,0,0,0.1);
    background: #0f071d;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2) !important;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>a {
	color:#fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>a .arrow:after {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch input {
	color: #fff;
    background-color: rgba(0,0,0,0.2);
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch input::placeholder {
	color:#fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch input:focus {
	color: #fff;
}
.dark-mode .features-icons.bg-light {
    background-color: #110725 !important;
    color: #fff;
}
.dark-mode .no-gutters {
    background-color: #090315 !important;
}
.dark-mode .testimonials.bg-light {
    background-color: #110725 !important;
}
.dark-mode .form-control{
	border: 1px solid #332350 !important;
    color: rgba(255, 255, 255, 0.7);
    background: #090315;
}
.dark-mode .footer.bg-light {
    background-color: #090315!important;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch input:focus~.btnstyle .fa {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch input:focus~.searchicon {
	color: #FFFFFF;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li.rightmenu>.topmenusearch .btnstyle {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
	background-color: #0f071d;
	border-bottom:1px solid #332350;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu {
	background-color: #0f071d;
	border:1px solid rgba(167, 180, 201,.3);
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);	
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
	color: #fff;	
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu {
	background-color: #0f071d;
	border:1px solid rgba(167, 180, 201,.3);
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: #fff;
    background:#211635;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>a:hover{
    color: #fff;
    background: #211635;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu .sub-menu-sub:after {
    color: #70768e;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	color:#9a64ff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{
	color:#9a64ff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover{
	color:#9a64ff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .megamenu-content {
	border:1px solid rgba(167, 180, 201,.3);
	background-color: #090315;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .title {
    color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .wsmwnutxt {
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
	background-color: #0f071d;
    color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .show-grid div {
	background-color: #dbdbdb;
	border: 1px solid #e7e7e7;
	color: #6a6a6a;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form input[type="text"] {
	border: 1px solid #e2e2e2;
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form textarea {
	border: 1px solid #e2e2e2;
	color: #fff;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form input[type="submit"] {
	background-color: #e1e1e1;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .menu_form input[type="button"] {
	background-color: #e1e1e1;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .typography-text p {
	color: #656565;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .typography-text ul li a {
	color: #656565;
}
@media only screen and (max-width: 991px) {
	.dark-mode .horizontalMenu {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list {
		background: #090315;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>a {
		color: #fff;
		border-bottom: 1px solid #332350;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li a.menuhomeicon {
		border-top: 1px solid #332350;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>a>.fa {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li:hover>a {
		background-color: rgba(0, 0, 0, 0.08);
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
		background-color: #0f071d;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
		background-color: #090315;
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
		background-color:#0f071d;
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
		color: #fff !important;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
		background-color: #e7e7e7;
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a.active {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
		background-color: #e7e7e7;
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a.active {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu {
		color: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
		background:#0f071d;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .title {
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu>ul>li>a {
		background-color: #e7e7e7;
		color: #fff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu>ul>li>a:hover {
		background-color: #fff000;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu ul li.title {
		color: #fff;
		background-color: transparent;
	}
	.dark-mode .horizontal-header {
		background-color: #eaecf0;
		box-shadow: 0 0 1px rgba(0, 0, 0, .3);
	}
	.dark-mode .callusbtn {
		color:#fff;
	}
	.dark-mode .callusbtn:hover .fa {
		color:#fff;
	}
	.dark-mode .animated-arrow span, .dark-mode .animated-arrow span:before, .dark-mode .animated-arrow span:after {
		background: #fff;
	}
	.dark-mode .overlapblackbg {
		background-color: rgba(255, 255, 255, 0.15);
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
		color: rgba(255, 255, 255, 0.2);
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li .horizontalMenu-click02>i {
		color: rgba(0, 0, 0, 0.2);
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
		color:#8645ff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
		color: #8645ff;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:#8645ff;
		color:#fff !important;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li:hover>a{
		color:#fff ;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu{
		background: rgb(255, 255, 255);
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li>a.active>.fa{
		color: #fff !important;
	}
	.dark-mode .horizontalMenu>.horizontalMenu-list>li:hover>a>.fa{
		color: #fff !important;
	}
	.dark-mode .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
		background:#8645ff !important;
		color:#fff !important;
	}
}
.app.dark-mode .horizontal-main.hor-menu{
	background:#090315 !important;
	border-bottom: 1px solid #332350 !important;
	box-shadow:none !important;
}
.dark-mode .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
	background:#f3f3f9;
	color:#fff;
}
.dark-mode .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
	background:#211635 !important;
	color:#fff !important;
}
.dark-mode .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active:before{
	border-bottom: 3px solid #8645ff;
}
.dark-mode .navbar .form-inline .form-control {
	background: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2) !important;
	border: 0px solid rgba(0,0,0,0.2) !important;
}
.dark-mode #calendar-1 tbody {
    border: 1px solid #332350;
}

/*------------- Dark sidemenu -------------*/

.dark-mode .app-header {
	box-shadow: 0 0 0 1px rgba(61, 119, 180, .12), 0 8px 16px 0 rgba(91, 139, 199, .24);
	background-image: linear-gradient(110deg, #04A8FB 1%, #871faf 100%);
}
.dark-mode .app-header__logo {
	color: #fff;
}
.dark-mode .app-sidebar__toggle {
	color: #fff;
}
.dark-mode .app-sidebar__toggle:hover {
	color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 992px) {
	.dark-mode .navbar {
		box-shadow: 0 2px 17px 2px #090315 !important;
	}
}
.dark-mode .app-nav__item {
	color: #a8a8a8;
}
.dark-mode .app-nav__item:hover, .dark-mode .app-nav__item:focus {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.dark-mode .app-search__input {
	background-color: rgba(255, 255, 255, 0.8);
}
.dark-mode .app-search__input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-search__input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-search__input::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-search__input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-search__button {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-notification__title {
	color: #333;
}
.dark-mode .app-notification__footer {
	background-color: #eee;
}
.dark-mode .app-notification__content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.dark-mode .app-notification__item:focus, .dark-mode .app-notification__item:hover {
	background-color: #e0e0e0;
}
.dark-mode .app-sidebar::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.dark-mode .app-sidebar__user img {
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255,255,255,0.2);
	background: #181823;
	box-shadow: 0px 5px 5px 0px rgba(44,44,44,0.2);
}
.dark-mode .app-sidebar__user {
	color: #a8a8a8;
}
.dark-mode .app-sidebar__user-name, .dark-mode .app-sidebar__user-designation {
	color: #e5e9ec;
}
.dark-mode .side-menu__item {
	color:#dbdaea;
}
.dark-mode .side-menu__item.active, .dark-mode .side-menu__item:hover, .dark-mode .side-menu__item:focus {
	color: #8645ff;
	background:#0f071d;
}
.dark-mode .side-menu__item.active .side-menu__icon, .dark-mode .side-menu__item:hover .side-menu__icon, .dark-mode .side-menu__item:focus .side-menu__icon{
	color:#8645ff;
}
.dark-mode .slide-item.active, .dark-mode .slide-item:hover, .dark-mode .slide-item:focus {
	color: #f7f7fa;
}
.dark-mode .slide-item.active, .dark-mode .slide-item:hover, .dark-mode .slide-item:focus {
	color: #8645ff;
}
.dark-mode .side-menu .side-menu__icon {
	color: #8645ff;
}
.dark-mode .slide.is-expanded .slide-menu {
	background: #0f071d;
}
.dark-mode .slide-item {
	color:#fff;
}
.dark-mode .angle {
	color:rgba(255, 255, 255, 0.2);
}
.dark-mode .app-title {
	background-color: #FFF;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.dark-mode .tile {
	background: #090315;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media print {
	.dark-mode .tile {
		border: 1px solid #ddd;
	}
}
.dark-mode .app-sidebar .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:rgba(0,0,0,0.05);
}
.dark-mode .app-sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .dark-mode .app-sidebar .mCSB_scrollTools .mCSB_draggerRail{
	background:rgba(255,255,255,0.2);
}
.dark-mode .side-menu li .side-menu__item.active:before {
    background: linear-gradient(to bottom right,#8645ff, #8483f5);
}
.dark-mode .user-info .text-dark{
	color:#dbdaea !important
}
.dark-mode .first-sidemenu{
	background:#090315;
}
.dark-mode .second-sidemenu{
	background: #0f071d;
	box-shadow:0px 8px 17px #1e1331;
}
.dark-mode .side-menu .slide.submenu a {
    color: rgba(255, 255, 255, 0.9);
}
.dark-mode .slide.submenu .side-menu__label:hover{
	color:#a97bff;
}
.dark-mode .slide-menu a.active{
	color:#fff;
}
.dark-mode .side-menu .slide-menu.submenu-list a:hover{
	color:#8645ff;
}
.dark-mode .first-sidemenu .resp-vtabs li.active{
	border-right:1px solid transparent !important
}
.dark-mode .toggle-menu.side-menu li a {
    border-top: 1px solid #332350;
}
.dark-mode .resp-vtabs .resp-tabs-list li {
    background-color: #090315 !important;
	border-right: 1px solid #332350 !important;
	border-bottom: 1px solid #332350 !important;
}
.dark-mode .resp-vtabs li.active{
	border-right:0px !important;
}
.dark-mode .slide-item.active, .dark-mode .slide-item:hover, .dark-mode .slide-item:focus {
    color: #a97bff  !important;
}
.dark-mode .slide-item:hover{
	border-right: 1px solid #332350;
}
.dark-mode .top-header .navbar {
    box-shadow: none !important;
}
.dark-mode .second-sidemenu .side-menu__item.active, .dark-mode .second-sidemenu .side-menu__item:hover, .dark-mode .second-sidemenu .side-menu__item:focus{
	background:none;
	border:none;
}

/*-------------Darksidemenu-1 ------------- */

@media (max-width: 480px) {}
@media print {
	.dark-mode .app-content {
		background-color: #090315;
	}
}
.dark-mode .app-header {
	box-shadow: 0 0 0 1px rgba(61, 119, 180, .12), 0 8px 16px 0 rgba(91, 139, 199, .24);
	background-image: linear-gradient(110deg, #04A8FB 1%, #871faf 100%);
}
.dark-mode .app-header__logo {
	color: #fff;
}
.dark-mode .app-sidebar__toggle {
	color: #fff;
}
.dark-mode .app-sidebar__toggle:hover {
	color: rgba(255, 255, 255, 0.5);
}
.dark-mode .app-nav__item {
	color: #a8a8a8;
}
.dark-mode .app-nav__item:hover, .dark-mode .app-nav__item:focus {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.dark-mode .app-search__button {
	color: rgba(0, 0, 0, 0.8);
}
.dark-mode .app-notification__title {
	background-color: rgba(0, 150, 136, 0.4);
	color: #333;
}
.dark-mode .app-notification__footer {
	background-color: #eee;
}
.dark-mode .app-notification__content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.dark-mode .app-notification__item:focus, .dark-mode .app-notification__item:hover {
	background-color: #e0e0e0;
}
.dark-mode .app-sidebar.toggle-sidebar {
	box-shadow: 0px 8px 17px rgba(40,37,89,0.2);
	background:#090315;
}
.dark-mode .app-sidebar::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.dark-mode .app-sidebar__user {
	color: #a8a8a8;
}
.dark-mode .app-sidebar__user-name, .dark-mode .app-sidebar__user-designation {
	color: #f5f5f5;
}
.dark-mode .app-sidebar__user-designation {
	color: #d6d6d6 !important;
}
.dark-mode .side-menu__item {
	color:#fff;
}
.dark-mode .side-menu__item.active, .dark-mode .side-menu__item:hover, .dark-mode .side-menu__item:focus {
	color: #fff;
	background:#8645ff;
}
.dark-mode .side-menu__item.active .side-menu__icon, .dark-mode .side-menu__item:hover .side-menu__icon, .dark-mode .side-menu__item:focus .side-menu__icon{
	color:#fff;
}
.dark-mode .slide-item.active, .dark-mode .slide-item:hover, .dark-mode .slide-item:focus {
	color: #f7f7fa;
}
.dark-mode .slide-menu a.active{
	color: #8645ff !important;
    background: #090315;
}
.dark-mode .slide-item.active, .dark-mode .slide-item:hover, .dark-mode .slide-item:focus {
	text-decoration: none;
	color: #8645ff;
}
.dark-mode .side-menu .side-menu__icon {
	color: #fff;
}
.dark-mode .slide-menu {
	background: #0f071d;
}
.dark-mode .slide-item {
	color: #fff;
}
.dark-mode .angle {
	color:rgba(255, 255, 255, 0.2);
}
.dark-mode .app-sidebar .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:rgba(0,0,0,0.05);
}
.dark-mode .app-sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .dark-mode .app-sidebar .mCSB_scrollTools .mCSB_draggerRail{
	background:rgba(255,255,255,0.2);
}
.dark-mode .user-info .text-dark{
	color:#dbdaea !important
}
.dark-mode .side-menu .slide.submenu a {
    color: #fff;
}
.dark-mode .slide.submenu .side-menu__label:hover{
	color:#8645ff; 
}
.dark-mode .side-menu .slide-menu.submenu-list a:hover{
	color:#8645ff;
	background: #0f071d;
}
.dark-mode .toggle-menu.side-menu li ul li:first-child{
	border-top: 1px solid #332350;
}
.dark-mode .toggle-menu.side-menu li a {
    border-top: 1px solid #332350;
}
.dark-mode .slide-menu a.active{
    background: #0f071d !important;
}
.dark-mode .resp-vtabs li.resp-tab-active{
	border-right:0px !important;
	background: #0f071d !important;
	color:#8645ff;
}
.dark-mode .resp-vtabs li:hover{
	color:#8645ff;
}

@media (min-width: 768px) {
  .dark-mode .sidebar-mini.sidenav-toggled .app-sidebar ul li a{
	  color:#14171a;
  }
  .dark-mode .sidebar-mini.sidenav-toggled .app-sidebar .side-menu__item.active{
	  color:#fff;
  }
  .dark-mode .sidebar-mini.sidenav-toggled .side-menu__label {
    background: #090315;
	color: #3e4b5b;
  }
  .dark-mode .sidebar-mini.sidenav-toggled .slide:hover .side-menu__item {
    background:#8645ff;
    color: #fff;
  }
}
.dark-mode .header-1 .navbar{
	box-shadow: 0 8px 0px 0px #c2bad2 !important;
}
.dark-mode .header-2 .navbar{
	box-shadow: 0 8px 0px 0px #c2bad2 !important;
}
.dark-mode .header-3 .navbar{
	box-shadow: 0 8px 0px 0px #c2bad2 !important;
}
.dark-mode .slide-item.active, .slide-item:hover, .slide-item:focus {
    color: #a97bff ;
}

/*------------- sidebar -------------*/
.dark-mode .sidebar {
	background-color: #090315;
	border:1px solid #332350;
}
.dark-mode .sidebar.sidebar-open{
	box-shadow: 0px 8px 14.72px 1.28px #090315;
}
.dark-mode .latest-timeline ul.timeline > li a {
    color: #fff;
}
.dark-mode .badge-success {
    color: #fff;
    background-color: #00b11b;
}
.dark-mode .form-control {
	border: 1px solid #dddcde;
	color:rgba(255, 255, 255, 0.7);
}
.dark-mode .form-control::-webkit-input-placeholder {
	color:rgba(255, 255, 255, 0.7);
}
.dark-mode .form-control::-moz-placeholder {
	color:rgba(255, 255, 255, 0.7);
}
.dark-mode .form-control:-ms-input-placeholder {
	color:rgba(255, 255, 255, 0.7);
}
.dark-mode .form-control::-moz-placeholder {
	color:rgba(255, 255, 255, 0.7);
}
.dark-mode .input-group-text, select.form-control:not([size]):not([multiple]), .dark-mode .form-control:not(.form-control-sm):not(.form-control-lg) {
	line-height: 18px;
}
.dark-mode .input-group-text{
	border:1px solid #332350;
	color:rgba(255, 255, 255, 0.5);
}
.dark-mode .calendar-title th{
	background: #110725;
}
.dark-mode .calendar-header th{
	border: 1px solid #332350;
    background: #090315;
}
.dark-mode .calendar tbody tr td {
    border: 1px solid #332350;
    background: #090315;
}
.dark-mode .calendar tbody tr td.pad {
    background: rgb(9, 3, 21);
}
.dark-mode .calendar {
    border: 1px solid #332350;
}
.dark-mode .calendar tbody tr td.today {
    background: #110725;
}
.dark-mode .fc-unthemed .fc-divider, .dark-mode .fc-unthemed .fc-list-heading td, .dark-mode .fc-unthemed .fc-popover .fc-header {
    background: #110725;
}
.dark-mode .fc-unthemed .fc-content, .dark-mode .fc-unthemed .fc-divider, .dark-mode .fc-unthemed .fc-list-heading td, .dark-mode .fc-unthemed .fc-list-view, .dark-mode .fc-unthemed .fc-popover, .dark-mode .fc-unthemed .fc-row, 
.dark-mode .fc-unthemed tbody, .dark-mode .fc-unthemed td, .fc-unthemed th, .dark-mode .fc-unthemed thead{
	border-color: #332350;
}
.dark-mode .fc-unthemed .fc-list-item:hover td {
    background-color: #110725;
}
.dark-mode .irs-line {
    background: #110725;
    border: 1px solid #332350;
}
.dark-mode .irs-slider {
    background: #110725;
    border: 1px solid #332350;
    box-shadow: none;
}
.dark-mode .irs-min, .dark-mode .irs-max {
    background: #110725;
}
.dark-mode .close {
    color: #fff;
}
.dark-mode .img-thumbnail {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .bootstrap-tagsinput {
    background-color: #090315;
}
.dark-mode .label-default, .dark-mode .tag-default {
    background-color: #989898;
}
.dark-mode .showcase {
    background-color: #110725 !important;
}
.dark-mode .pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid #332350;
}
.dark-mode .btn-light:not(:disabled):not(.disabled).active, .dark-mode .btn-light:not(:disabled):not(.disabled):active, .dark-mode .show>.btn-light.dropdown-toggle {
    color: #ffffff;
    background-color: #1d1033;
    border-color: #332350;
}
.dark-mode .ui-widget-content {
    border: 1px solid #332350;
    background: #110725;
    color: #2c4359;
}
.dark-mode .select2-container--default .select2-selection--single {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #090315;
}
.dark-mode .select2-container--default .select2-selection--multiple{
	border: 1px solid #332350;
    background-color: #090315;
}
.dark-mode .select2-dropdown {
    background-color: #110725;
    border: 1px solid #332350;
}
.dark-mode .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #332350;
    background: #110725;
}
.dark-mode .select2-container--default .select2-results__option[aria-selected=true]{
	background-color: #090315;
}
.dark-mode .ms-choice, .dark-mode .ms-choice.disabled {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .ms-drop {
    background: #110725;
    color: #fff;
    border: 1px solid #332350;
}
.dark-mode .ms-search input{
	background: #110725 url(multiple-select.png) no-repeat 100% -22px;
	border: 1px solid #332350;
}
.dark-mode .ranges li{
	background: #1d1033;
    border: 1px solid #332350;
	color:#fff;
}
.dark-mode .daterangepicker:after{
	border-bottom: 6px solid #1d1033;
}
.dark-mode .daterangepicker:before{
	border-bottom: 7px solid #332350;
}
.dark-mode .bootstrap-timepicker-widget.timepicker-orient-bottom:before, .dark-mode .bootstrap-timepicker-widget.timepicker-orient-bottom:after{
	border-top: 7px solid #1d1033;
}
.dark-mode .bootstrap-timepicker-widget.timepicker-orient-bottom:after{
	border-top: 6px solid #1d1033;
}
.dark-mode .bootstrap-datetimepicker-widget table td.day:hover, .dark-mode .bootstrap-datetimepicker-widget table td.hour:hover, .dark-mode .bootstrap-datetimepicker-widget table td.minute:hover, .dark-mode .bootstrap-datetimepicker-widget table td.second:hover {
    background: #1d1033;
}
.dark-mode .daterangepicker:after {
    border-bottom: 6px solid #30214b;
}
.dark-mode .daterangepicker:before {
    border-bottom: 7px solid #30214b;
}
.dark-mode .colorpicker:after, .dark-mode .datepicker-dropdown:after, .dark-mode .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after{
	border-bottom: 6px solid #332350;
}
.dark-mode .bootstrap-datetimepicker-widget.dropdown-menu.top:after{
	border-top: 6px solid #332350;
}
.dark-mode .datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid #1d1033;
}
.dark-mode .bootstrap-timepicker-widget table td a{
	color:#fff;
}
.dark-mode .bootstrap-timepicker-widget table td a:hover {
    background-color: #090315;
    border-color: #332350;
    color: #fff;
}
.dark-mode .material-switch > label::before {
    background: #211044;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.dark-mode .material-switch > label::after {
    background: #1c0e38;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.dark-mode .datepicker table tr td.today, .dark-mode .datepicker table tr td.today:hover, .dark-mode .datepicker table tr td.today.disabled, .dark-mode .datepicker table tr td.today.disabled:hover{
	background-color: #110725;
	background-image:none;
}
.dark-mode .datepicker table tr td.active, .dark-mode .datepicker table tr td.active:hover, .dark-mode .datepicker table tr td.active.disabled, .dark-mode .datepicker table tr td.active.disabled:hover{
	background-color: #110725;
	background-image:none;
}
.dark-mode .bootstrap-datetimepicker-widget table td span{
	background-color: #110725;
}
.dark-mode .table .table-condensed .btn {
    color: #fff;
}
.table thead th{
	border:none;
}
.dark-mode .datepicker table tr td.old, .dark-mode .datepicker table tr td.new {
    color: #fff;
}
.dark-mode .table-condensed .btn, .dark-mode .daterangepicker .calendar th {
    color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td span:hover {
    background: #090315;
    color: #8645ff !important;
}
.dark-mode .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #110725;
	color:#fff;
}
.dark-mode .selectgroup-input:checked+.selectgroup-button {
    border-color: #332350;
    color: #fff;
    background: #211044;
}
.dark-mode .bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid #332350;
}
.dark-mode .daterangepicker .calendar-table {
    border: 1px solid #332350;
    background-color: #090315;
}
.dark-mode .daterangepicker select.hourselect, .dark-mode .daterangepicker select.minuteselect, .dark-mode .daterangepicker select.secondselect, .dark-mode .daterangepicker select.ampmselect {
    color: #fff;
    background: #1d1033;
    border: 1px solid #332350;
}
.dark-mode .daterangepicker td.in-range{
	color: #a6abab;
}
.dark-mode .daterangepicker td.off, .dark-mode .daterangepicker td.off.in-range, .dark-mode .daterangepicker td.off.start-date, .dark-mode .daterangepicker td.off.end-date {
    background-color: #1d1033;
    border-color: #332350;
    color: #d9dae8;
}
.dark-mode .daterangepicker .daterangepicker_input i , .dark-mode .datepicker th {
    color: #fff;
}
.dark-mode .daterangepicker td.available:hover, .dark-mode .daterangepicker th.available:hover {
	background-color: #1d1033;
	border-color: #332350;
	color:#fff;	
}
.dark-mode .datepicker table tr td.day:hover, .dark-mode .datepicker table tr td.day.focused {
  background: #110725;
}
.dark-mode .datepicker-dropdown.datepicker-orient-top:after {
    border-top: 6px solid #332350;
}
.dark-mode .datepicker .datepicker-switch:hover, .dark-mode .datepicker .prev:hover, .dark-mode .datepicker .next:hover, .dark-mode .datepicker tfoot tr th:hover {
    background: #110725;
}
.dark-mode .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .note-popover .popover-content, .dark-mode .card-header.note-toolbar {
    background-color: #110725;
    border: 1px solid #332350;
}
.dark-mode .note-editor.note-frame .note-editing-area .note-editable {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .note-editor.note-frame .note-statusbar .note-resizebar {
    background-color: #110725;
    border: 0px solid #332350;
}
.dark-mode .multi-wrapper .non-selected-wrapper{
	background: #090315;
    border-right: 1px solid #332350;
}
.dark-mode .multi-wrapper .header, .dark-mode .multi-wrapper .item-1, .dark-mode .mce-menubtn button, .dark-mode .mce-path-item{
	color:#fff;
}
.dark-mode .multi-wrapper .selected-wrapper, .dark-mode .mce-panel{
    background: #090315;
}
.dark-mode .mce-panel {
  border-color: #332350;
} 
.dark-mode .mce-btn:hover, .dark-mode .mce-btn:focus {
    color: #fff;
    background-color: #090315;
    border-color: #332350;
}
.dark-mode .mce-btn-group:not(:first-child){
	border-left: 1px solid #332350;
}
.dark-mode .mce-menu-item.mce-disabled:hover{
	background-color: #8645ff;
}
.dark-mode .mce-btn {
    border: 1px solid #332350;
    background-color: #090315;
}
.dark-mode .mce-menubar .mce-menubtn:hover, .dark-mode .mce-menubar .mce-menubtn.mce-active, .dark-mode .mce-menubar .mce-menubtn:focus {
    border-color: #332350;
    background: #110725;
}
.dark-mode .note-btn-group.btn, .dark-mode .mce-menubar .mce-menubtn.button, .dark-mode .mce-menubar .mce-menubtn.button {
	color:#fff;
}
.dark-mode .mce-menubar{
	 border: 1px solid #332350;
}
.dark-mode .note-btn-group .btn, .dark-mode .mce-menubar .mce-menubtn.button{
	color:#fff !important;
	border: none !important;
}
.dark-mode .note-btn-group .btn i, .dark-mode .mce-menubar .mce-menubtn button, .dark-mode .mce-ico {
    color: #fff !important;
}
.dark-mode .note-editor.note-frame .note-statusbar {
    border-top: 1px solid #332350;
}
.dark-mode .mce-btn.mce-active, .dark-mode .mce-btn.mce-active:hover {
    background-color: #1c0d3a;
    border-color: #332350;
}
.dark-mode .sw-theme-default {
    border: 1px solid #332350;
}
.dark-mode .sw-theme-default .step-content {
    border: 0px solid #332350;
    background-color: #090315;
}
.dark-mode .sw-theme-default .sw-toolbar {
    background: #090315;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a, .dark-mode .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #fff;
    background: #190b35;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a:before {
    border-left: 30px solid #8645ff;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a:after {
    border-left: 30px solid #190b35;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a, .dark-mode .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #fff;
    background: #190b35;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a:hover:after {
    border-left-color: #190b35;
}
.dark-mode .sw-theme-arrows > ul.step-anchor {
    background: #110725;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a, .dark-mode .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #fff;
    background: #190b35;
}
.dark-mode .sw-theme-arrows .step-content {
    border: 0px solid #332350;
    background-color: #090315;
}
.dark-mode .sw-theme-arrows {
    border: 1px solid #332350;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #190b35 !important;
    color: #fff !important;
    background: #190b35 !important;
}
.dark-mode .sw-theme-arrows > ul.step-anchor > li > a:after{
	border-left: 30px solid #190b35 !important;
}
.dark-mode .sw-theme-circles > ul.step-anchor {
    background: #090315;
}
.dark-mode .sw-theme-circles > ul.step-anchor:before {
    background-color: #211044;
}
.dark-mode .sw-theme-circles > ul.step-anchor > li > a, .dark-mode  .sw-theme-circles > ul.step-anchor > li.done > a {
    border: 2px solid #332350;
    color: #fff;
    background: #110725;
}
.dark-mode .sw-theme-circles .step-content {
    background-color: #090315;
}
.dark-mode .sw-theme-circles .sw-toolbar, .dark-mode .sw-theme-dots > ul.step-anchor, .dark-mode .sw-theme-dots .step-content {
    background: #090315;
}
.dark-mode .sw-theme-dots .sw-toolbar {
    background: #090315;
}
.dark-mode .sw-theme-dots > ul.step-anchor:before {
    background-color: #211044;
}
.dark-mode .sw-theme-dots > ul.step-anchor > li > a:before, .dark-mode .sw-theme-dots > ul.step-anchor > li > a:after, .dark-mode .sw-theme-dots > ul.step-anchor > li.done > a:after{
	background: #211044;
}
.dark-mode .sw-theme-circles > ul.step-anchor > li > a:hover {
    color: #8645ff;
    background: #110725;
}
.dark-mode .SumoSelect>.CaptionCont {
    border: 1px solid #332350;
    color: #fff;
    background-color: #090315;
}
.dark-mode .SumoSelect.disabled>.CaptionCont {
    border-color: #332350;
}
.dark-mode .SumoSelect>.optWrapper, .dark-mode .SumoSelect .select-all{
	background: #090315;
    border: 1px solid #332350;
}
.dark-mode .SumoSelect.open>.optWrapper{
	box-shadow:none;
}
.dark-mode .SumoSelect>.optWrapper>.options li.opt {
    border-bottom: 1px solid #332350;
}
.dark-mode .SumoSelect>.optWrapper>.options li.opt:hover {
    background-color: #110725;
}
.dark-mode .SumoSelect>.optWrapper.multiple>.options li.opt span i, .dark-mode .SumoSelect .select-all>span i {
    border: 1px solid #332350;
    background-color: #090315;
}
.dark-mode .SumoSelect .select-all.partial>span i {
    background-color: #090315;
    border: 1px solid #332350;
}
.dark-mode .SumoSelect>.optWrapper>.MultiControls {
    border-top: 1px solid #332350;
    background-color: #090315;
}
.dark-mode .SumoSelect>.optWrapper.multiple>.MultiControls>p:hover, .dark-mode .SumoSelect.open .search-txt {
    background-color: #110725;
}
.dark-mode .transfer-double-content-left, .dark-mode .transfer-double-content-right {
    border: 1px solid #332350;
	background: #090315;
}
.dark-mode .transfer-double-content-tabs, .dark-mode .transfer-double-content-param, .dark-mode .multi-wrapper .search-input {
    border-bottom: 1px solid #332350;
}
.dark-mode .transfer-double-list-footer{
	border-top: 1px solid #332350;
}
.dark-mode .transfer-double-list-search-input, .dark-mode .transfer-double-selected-list-search-input {
    background: #090315;
    border: 1px solid #332350;
}
.dark-mode .checkbox-group label:before {
    background: #090315;
    border: 1px solid #332350;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .title {
    border-bottom: 1px solid #332350;
}
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
    border: solid 1px #332350;
}
.dark-mode .transfer-double {
    background-color: #090315;
}
.dark-mode .btn-select-arrow {
    color: #fff;
    background: #1b0c38;
}
.dark-mode .multi-wrapper .search-input {
    background: #090315;
}
.dark-mode .multi-wrapper {
    border: 1px solid #332350;
}
.dark-mode .mega-menubg{
	border: solid 1px #332350;
}
.dark-mode .toggle-menu.side-menu li ul li a{
	border:0px;
}
.dark-mode .side-menu__item.active, .dark-mode .side-menu__item:hover, .dark-mode .side-menu__item:focus {
    color: #fff;
    background: #8645ff;
}
.dark-mode .dropdown-list .dropdown-item .dropdown-item-desc {
    color: #fff;
}